@model doantotnghiep.Models.Account_KhachHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa </h2>

<h3>Bạn có chắc chắn muốn xóa ?</h3>
<div>
    <hr />
    <dl class="row" , style="margin-left:30px">

        <dt class="col-sm-2">
            Tài khoản
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt class="col-sm-2">
            Mật khẩu
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt class="col-sm-2">
            Họ tên
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenKH)
        </dd>
        <dt class="col-sm-2">
            Ngày sinh
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>

        <dt class="col-sm-2">
            Số điện thoại
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt class="col-sm-2">
            Email
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>



        <dt class="col-sm-2">
            Địa chỉ
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" />
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>



